    * {
        padding: 0;
        margin: 0;
    }

    body, html {
        /*background-image: url(hanselgretel_mattotti2.jpg);*/
        background-color: #171717;
        height: 100%;
        width: 100%;
    }

#parte2, #parte2_1, #parte3, #parte4, #parte4_1, #parte5, #parte6, #parte6_1, #parte7, #parte4_0_1, #parte4_0_2, #parte4_0_3, #bagavenenosa, #parte8_1, #lost, #parte8, #susto, #susto2, #susto3, #parte9, #parte9_1, #afterfogo, #afterfogo2 {
    display: none;
}

#dedo, #roubo {
    position: relative;
}

#space {
    position: relative;
}

.spacebar {
    position: absolute;
    top: 50%;
}

#osso {
    position: absolute;
    width: 130px;
    height: 200px;
    left: 38%;
    top:45%;
}

#dedo1 {
    position: absolute;
    width: 90px;
    height: 120px;
    left: 44.5%;
    top:41%;
}
, #susto, #susto2, #susto3
#dedo2 {
    position: absolute;
    width: 60px;
    height: 150px;
    left: 47%;
    top: 24%;
}

#dedo3 {
    position: absolute;
    width: 70px;
    height: 170px;
    left: 50.5%;
    top: 19%;
}

#dedo4 {
    position: absolute;
    width: 50px;
    height: 160px;
    left: 54.5%;
    top: 20%;
}

#dedo5 {
    position: absolute;
    width: 80px;
    height: 120px;
    left: 57%;
    top: 29%;
}

#fruta1 {
    position: absolute;
    width: 170px;
    height: 120px;
    left: 35%;
    top: 26%;
}

#pao1 {
    position: absolute;
    width: 170px;
    height: 120px;
    left: 45%;
    top: 26%;
}

#carne1 {
    position: absolute;
    width: 170px;
    height: 120px;
    left: 55%;
    top: 26%;
}

    canvas {
        background-image: url(fundo.jpg);
        background-size: 100% 100%;
    }

    .ouac {
        position: relative;
        top: 10px; 
        width: 50%;
    }

    #comeco { /*mudar de h's para p's sempre que mudar o tamanho de letra*/
        position: absolute;
        right: 41%;
        top: 55%;
    }

    a { 
        margin-top: 10px;
        color: white;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    #social {
        opacity: 0.5;
        right: 43%;
        bottom: 20px;
        position: absolute;
        display: inline-flex;
    }

    #ajuda {
        opacity: 0.5;
        position: absolute;
        display: inline-flex;
        right: 40%;
        bottom: 60px;
    }

    #voltar {
        bottom: 32px;
        right: 32px;
        position: fixed;
        display: block;
    }

    #tit { /*mudar de h's para p's sempre que mudar o tamanho de letra*/
        margin:0 auto;
        color: white;
        text-align: center;
        font-family: "Oswald", serif;
        font-size: 40px;
        display:block;
        margin-top: 128px;
        text-decoration: underline;
    }

    #info {
        position: absolute;
        transform: translate(-50%, 0);
        left: 50%;
        margin-top: 10px;
         margin-left: 180px;
    }

    #a { /*mudar de h's para p's sempre que mudar o tamanho de letra*/
        color: white;
        font-family: "Oswald", serif;
        text-align: left;
        text-decoration: underline;
        margin-top: 10px;
        font-size: 20px;
    }

    #b { /*mudar de h's para p's sempre que mudar o tamanho de letra*/
        color: white;
        font-family: "Oswald", serif;
        text-align: left;
        text-decoration: underline;
        margin-top: 10px;
        font-size: 20px;
    }

    #autor { /*mudar de h's para p's sempre que mudar o tamanho de letra*/
        color: white;
        text-align: left;
        margin-top: 20px;
        font-size: 16px;
    }

    #bio { /*mudar de h's para p's sempre que mudar o tamanho de letra*/
        color: white;
        text-align: left;
        margin-top: 20px;
        font-size: 16px;
        margin-bottom: 64px;
    }

    #fautor {
        position: absolute;
        left: 96px;
        top: 256px;
        width: 440px;
        height: 556px;
    }

    #fautor:hover {
        transform: scale(1.01);
    }

    /* esconder todo e qualquer scroll nas páginas*/
    ::-webkit-scrollbar {
        display: none;
    }

    /*tudo composto em termos de css até aqui!! OBRIGADO JOANA! <3 */

    .image {
    padding-top: 5%;
    padding-bottom: 200px;
    visibility: hidden;
}

.imagepick1 {
    position: absolute;
    left: 40%;
    top: 32750px;
    z-index: 100;
}

.imagepick2 {
    position: absolute;
    left: 55%;
    top: 32750px;
    z-index: 100;
}

.fadeIn {
        -webkit-animation: animat_show 3.0s;
        animation: animat_show 3.0s;
        visibility: visible !important;
    }

    @-webkit-keyframes animat_show{
        0%{opacity:0}
        100%{opacity:1}
    }

    #andri {
        position: absolute;
        left: 10%;
        top: 260px;
    }

    #andri:hover {
        transform: scale(1.01);
    }

    #carol {
        position: absolute;
        left: 41%;
        top: 260px;
    }

    #carol:hover {
        transform: scale(1.01);
    }

    #ze {
        position: absolute;
        left: 72%;
        top: 260px;
    }

    #ze:hover {
        transform: scale(1.01);
    }

    #des3 {
        position: absolute;
        top: 575px;
        left: 68%;
        width: 27%;
        color: white;
        text-align: center;
    }

    .text {
    
    width: 50%;
    margin-bottom: 20%;
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: 'Inknut Antiqua', normal;
    visibility:hidden;
 
}

.text1 {
    
    width: 50%;
    margin-top:10%;
    margin-bottom: 20%;
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: 'Inknut Antiqua', normal;
 
}

.escondido {
    
    width: 50%;
    margin-left:23%;
    margin-bottom: 20%;
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: 'Inknut Antiqua', normal;
 
}

    .botao {
        
    width: 50%;
    position: relative;
     
    }

    #paragrafo1 {

        padding-top: 7%;
        top: 240%;
        width: 90%;
        color: white;
        text-align:;
        font-size: 1vw;
        font-family: 'Inknut Antiqua', normal;
    }

    #paragrafo13 {

        padding-top: 7%;
        top: 240%;
        width: 90%;
        color: white;
        text-align:;
        font-size: 1vw;
        font-family: 'Inknut Antiqua', normal;
        display: none;
    }


    #paragrafo14 {
        padding-top: 7%;
        top: 240%;
        width: 90%;
        color: white;
        text-align:;
        font-size: 1vw;
        font-family: 'Inknut Antiqua', normal;
        display: none;
    }

    #dialogo {

        padding-top: 7%;
        top: 240%;
        width: 50%;
        color: black;
        text-align:;
        font-size: 1vw;
        font-family: 'Inknut Antiqua', normal;
    }

    .timing1{animation-delay: 1s}
    .timing2{animation-delay: 2s}
    .timing3{animation-delay: 3s}


